{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Gerenciador de Tesouros </h1>
  <section id="tesouros">
    <table>
      <caption>Estes são os tesouros acumulados do Barba-Ruiva em suas aventuras</caption>
      <thead>
        <tr>
          <th>Tesouro</th>
          <th>Nome</th>
          <th>Valor unitário</th>
          <th>Quantidade</th>
          <th>Valor total</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="{% static "imgs/exemplo-de-icone.png" %}"></td>
          <td>Tesouro de exemplo</td>
          <td>200</td>
          <td>5</td>
          <td>1.000</td>
          <td><img src="" alt="editar"></td>
          <td><img src="" alt="Deletar"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Total geral</td>
          <td><!--Insira aqui o total geral-->  </td>
          <td colspan="2"></td>
        </tr>
      </tfoot>
    </table>
    <a id="inserir" href="{% url "inserir" %}" class="add">+</a>
  </section>
  <p>Yarr Harr, marujo! Aqui é o temido Barba-Ruiva e você deve me ajudar
      a contabilizar os espólios das minhas aventuras!</p>
{% endblock %}
